<meta name="description" content="Ekylibre est un logiciel de gestion intégré pour les TPE agricoles et les TPE de manière plus générale. Le logiciel est distribué sous la licence GNU (...)" />
<link rel="alternate" type="application/rss+xml" title="Syndiquer tout le site" href="https://www.ekylibre.org/site/spip.php?page=backend" />
<link rel="stylesheet" href="plugins/auto/zpip/spip_style.css" type="text/css" media="all" />
<link rel="stylesheet" href="squelettes-dist/spip_formulaires.css" type="text/css" media="projection, screen, tv" />
<link rel='stylesheet' type='text/css' media='all' href='extensions/porte_plume/css/barre_outils.css' />
<link rel='stylesheet' type='text/css' media='all' href='https://www.ekylibre.org/site/spip.php?page=barre_outils_icones.css' />
<link rel="stylesheet" href="squelettes/habillage.css" type="text/css" media="projection, screen, tv" />
<link rel="stylesheet" href="squelettes-dist/impression.css" type="text/css" media="print" />
<script src="prive/javascript/jquery.js" type="text/javascript"></script>
<script src="prive/javascript/jquery.form.js" type="text/javascript"></script>
<script src="prive/javascript/ajaxCallback.js" type="text/javascript"></script>
<script src="prive/javascript/jquery.cookie.js" type="text/javascript"></script>
<!-- insert_head --><!--[if lt IE 7]>
	<script src='extensions/msie_compat/javascript/jquery.ifixpng.js'></script>
	<script type='text/javascript'>//<![CDATA[
		jQuery.ifixpng('rien.gif');		
		function fixie() {
			jQuery('img').ifixpng();
		}
		$(document).ready(function() { fixie(); });
		onAjaxLoad(fixie);	
	//]]></script>
<![endif]-->
<script type='text/javascript' src='extensions/porte_plume/javascript/xregexp-min.js'></script>
<script type='text/javascript' src='extensions/porte_plume/javascript/jquery.markitup_pour_spip.js'></script>
<script type='text/javascript' src='extensions/porte_plume/javascript/jquery.previsu_spip.js'></script>
<script type='text/javascript' src='https://www.ekylibre.org/site/spip.php?page=porte_plume_start.js&amp;lang=fr'></script><link rel='stylesheet' href='https://www.ekylibre.org/site/prive/spip_admin.css' type='text/css' /></head>
